<h2>Tic-Tac-Toe <button mat-mini-fab routerLink="/" routerLinkActive="active"><mat-icon fontIcon="home" ></mat-icon></button></h2>
<p>This is a game for two human players. The computer will handle the game rules</p>
<p>Player {{player}}, click on the position in which you want to put your {{playerSymbol}}</p>

<div>
    <button mat-fab (click)="populateCell(playerSymbol,0,0)" [disabled]="gameMatrixString[0][0] != '' || endGamePhrase != ''">
        {{gameMatrixString[0][0]}}</button>
    <button mat-fab (click)="populateCell(playerSymbol,0,1)" [disabled]="gameMatrixString[0][1] != '' || endGamePhrase != ''">
        {{gameMatrixString[0][1]}}</button>
    <button mat-fab (click)="populateCell(playerSymbol,0,2)" [disabled]="gameMatrixString[0][2] != '' || endGamePhrase != ''">
        {{gameMatrixString[0][2]}}</button>
</div>
<div>
    <button mat-fab (click)="populateCell(playerSymbol,1,0)" [disabled]="gameMatrixString[1][0] != '' || endGamePhrase != ''">
        {{gameMatrixString[1][0]}}</button>
    <button mat-fab (click)="populateCell(playerSymbol,1,1)" [disabled]="gameMatrixString[1][1] != '' || endGamePhrase != ''">
        {{gameMatrixString[1][1]}}</button>
    <button mat-fab (click)="populateCell(playerSymbol,1,2)" [disabled]="gameMatrixString[1][2] != '' || endGamePhrase != ''">
        {{gameMatrixString[1][2]}}</button>
</div>
<div>
    <button mat-fab (click)="populateCell(playerSymbol,2,0)" [disabled]="gameMatrixString[2][0] != '' || endGamePhrase != ''">
        {{gameMatrixString[2][0]}}</button>
    <button mat-fab (click)="populateCell(playerSymbol,2,1)" [disabled]="gameMatrixString[2][1] != '' || endGamePhrase != ''">
        {{gameMatrixString[2][1]}}</button>
    <button mat-fab (click)="populateCell(playerSymbol,2,2)" [disabled]="gameMatrixString[2][2] != '' || endGamePhrase != ''">
        {{gameMatrixString[2][2]}}</button>
</div>

@if(endGamePhrase){
    <p>{{endGamePhrase}}</p>
    <p>Press this button to reset game</p>
    <button mat-raised-button (click)="resetGame()">Reset Game</button>
}