<h2>Chess <button mat-mini-fab routerLink="/" routerLinkActive="active"><mat-icon fontIcon="home" ></mat-icon></button></h2>
<cite>The game of chess is like a swordfight... You must think first, before you move!</cite>
<p>This is a game for two human players. The computer will handle the game rules</p>
<p>{{activeColor}} player, it's your turn</p>
<section class="chessboard-moveLog-container">
    <section class="chessboard">
        @for (row of board; track $index; let i = $index) {
        <div>
            <button mat-fab disabled>{{8-i}}</button>
            @for (column of row; track $index; let j = $index ) {
            @if ((i+j) % 2 == 0) {
            <button mat-fab draggable="true" (dragstart)="onDragStart(i,j)" (dragover)="$event.preventDefault()"
                (drop)="onDrop(i,j)" (click)="onClick(i,j)" style="background-color: #e9e4d8;">{{board[i][j]}}</button>
            }@else {
            <button mat-fab draggable="true" (dragstart)="onDragStart(i,j)" (dragover)="$event.preventDefault()"
                (drop)="onDrop(i,j)" (click)="onClick(i,j)" style="background-color: #8ab364;">{{board[i][j]}}</button>
            }
            }
        </div>
        }
        <div>
            <button mat-fab disabled></button>
            <button mat-fab disabled>a</button>
            <button mat-fab disabled>b</button>
            <button mat-fab disabled>c</button>
            <button mat-fab disabled>d</button>
            <button mat-fab disabled>e</button>
            <button mat-fab disabled>f</button>
            <button mat-fab disabled>g</button>
            <button mat-fab disabled>h</button>
        </div>
    </section>
    <section class="moveLog">
        @if (moveLog.length > 0) {
        <p>Log of moves:</p>
        @for (move of moveLog; track $index) {
        <div>{{$index+1}}-{{move}}</div>
        }
        }
    </section>
</section>