<h1>Welcome to Angular games!</h1>
<p>Please choose which game you want to play</p>
<mat-nav-list>
    <a mat-list-item routerLink="/rock-paper-scissors" routerLinkActive="active">Rock-Paper-Scissors</a>
    <a mat-list-item routerLink="/rock-paper-scissors-lizard-spock" routerLinkActive="active">Rock-Paper-Scissors-Lizard-Spock</a>
    <a mat-list-item routerLink="/tic-tac-toe" routerLinkActive="active">Tic-Tac-Toe</a>
    <a mat-list-item routerLink="/connect-four" routerLinkActive="active">Connect Four</a>
    <a mat-list-item routerLink="/game-of-15" routerLinkActive="active">Game of 15</a> 
    <a mat-list-item routerLink="/checkers" routerLinkActive="active">Checkers</a> 
    <a mat-list-item routerLink="/chess" routerLinkActive="active">Chess</a> 
    <a mat-list-item routerLink="/go" routerLinkActive="active">Go</a> 
</mat-nav-list>

<router-outlet></router-outlet>