<h2>Go <button mat-mini-fab routerLink="/" routerLinkActive="active"><mat-icon fontIcon="home"></mat-icon></button></h2>
@if(!gameStarted){
<div><cite>The world is like a go game whose rules were uselessly complicated (Chinese proverb)</cite></div>
<p>Choose the game settings</p>
<section class="board-dimension">
    <mat-form-field>
        <mat-label>Board dimension</mat-label>
        <mat-select [(value)]="boardDimension">
            <mat-option [value]="9">9x9</mat-option>
            <mat-option [value]="13">13x13</mat-option>
            <mat-option [value]="19">19x19</mat-option>
        </mat-select>
    </mat-form-field>
</section>
<section class="komi">
    <mat-form-field>
        <mat-label>Komi</mat-label>
        <input matInput type="number" [(ngModel)]="komi">
    </mat-form-field>
</section>
}
<div>
    @if(!gameStarted){
    <button mat-flat-button type="button" (click)="startGame()">Start game</button>
    } @else {
    <button mat-flat-button type="button" (click)="restartGame()">Restart game</button>
    }
</div>
@if(gameStarted){
<p>{{activePlayer.color}} player, it's your turn</p>
<button mat-flat-button type="button" (click)="pass()">Pass</button>
<section class="go-board-moveLog-container">
    <app-go-board [board-dimension]="boardDimension" [game-ended]="gameEnded" [active-player]="activePlayer"
        [white-player]="whitePlayer" [black-player]="blackPlayer" (placedStoneEvent)="switchTurn()"></app-go-board>
    @if (gameEnded) {
    <p>Game Ended</p>
    }
    <section class="score">
        <p><b>Captures:</b></p>
        <p>Black: {{blackPlayer.captures}}</p>
        <p>White: {{whitePlayer.captures}}</p>
        <p><b>Score:</b></p>
        <p>Black: {{blackPlayer.score}}</p>
        <p>White: {{whitePlayer.score + komi}} (of which {{komi}} komi)</p>
    </section>
    <section class="moveLog">
        @if (moveLog.length > 0) {
        <p><b>Log of moves:</b></p>
        @for (move of moveLog; track $index) {
        <div>{{$index+1}}-{{move}}</div>
        }
        }
    </section>
</section>
}