<h2>Go</h2>
@if(!gameStarted){
<div><cite>The world is like a go game whose rules were uselessly complicated (Chinese proverb)</cite></div>
<a mat-flat-button routerLink="./new">Start new game</a>
<a mat-flat-button routerLink="./load">Load Game</a>
}
<div>
    @if(gameStarted){
    <button mat-flat-button type="button" (click)="restartGame()">Restart game</button>
    }
</div>
@if(gameStarted){
<p>{{activePlayer.color}} player, it's your turn</p>
@if(!gameEnded){
<button mat-flat-button type="button" (click)="saveGame()">Save Game</button>
<button mat-flat-button type="button" (click)="pass()">Pass</button>
}
<section class="go-board-moveLog-container">
    <app-go-board [board-dimension]="boardDimension" [game-ended]="gameEnded" [active-player]="activePlayer"
        [white-player]="whitePlayer" [black-player]="blackPlayer" (placedStoneEvent)="switchTurn()"></app-go-board>
    @if (gameEnded) {
    <p>Game Ended</p>
    }
    <section class="score">
        <p><b>Captures:</b></p>
        <p>Black: {{blackPlayer.captures}}</p>
        <p>White: {{whitePlayer.captures}}</p>
    </section>
    <section class="moveLog">
        @if (moveLog.length > 0) {
        <p><b>Log of moves:</b></p>
        @for (move of moveLog; track $index) {
        <div>{{$index+1}}-{{move}}</div>
        }
        }
    </section>
</section>
}