.go-board-moveLog-container{
    display: flex;
    justify-content: start;
    align-items: start;
}
.moveLog{
    margin-left: 50px;
}
.score{
    margin-left: 50px;
}
div {
    display: flex;
    justify-content: left;
    align-items:start;
}