.go-board-moveLog-container{
    display: flex;
    justify-content: start;
    align-items: start;
}
.moveLog{
    margin-left: 50px;
}
.score{
    margin-left: 50px;
}
button{
    margin-right: 10px;
    margin-bottom: 10px;
}