<div>
    <button mat-flat-button type="button" (click)="restartGame()">Restart game</button>
</div>
<p>{{activePlayer.color}} player, it's your turn</p>
@if(!gameEnded){
<button mat-flat-button type="button" (click)="saveGame()">Save Game</button>
<button mat-flat-button type="button" (click)="pass()">Pass</button>
}
<section class="go-board-moveLog-container">
    <app-go-board [board-dimension]="boardDimension" [game-ended]="gameEnded" [active-player]="activePlayer"
        [white-player]="whitePlayer" [black-player]="blackPlayer" (placedStoneEvent)="switchTurn()"></app-go-board>
    @if (gameEnded) {
    <p>Game Ended</p>
    }
    <section class="score">
        <p><b>Komi:</b> {{komi}}</p>
        <p><b>Captures:</b></p>
        <p>Black: {{blackPlayer.captures}}</p>
        <p>White: {{whitePlayer.captures}}</p>
    </section>
    <section class="moveLog">
        <p><b>Log of moves:</b></p>
        @for (move of moveLog; track $index) {
            {{move.row}}{{move.column}}
        }
    </section>
</section>