<h2>Go <button mat-mini-fab routerLink="/" routerLinkActive="active"><mat-icon fontIcon="home"></mat-icon></button></h2>
<div><cite>The world is like a go game whose rules were uselessly complicated (Chinese proverb)</cite></div>
<p>Choose the board dimension</p>
<mat-form-field>
    <mat-label>Board dimension</mat-label>
    <mat-select [(value)]="boardDimension">
        <mat-option [value]="9">9x9</mat-option>
        <mat-option [value]="13">13x13</mat-option>
        <mat-option [value]="19">19x19</mat-option>
    </mat-select>
</mat-form-field>
<div><button mat-raised-button type="button" (click)="resetGame()">Reset game</button></div>
<p>{{activePlayer.color}} player, it's your turn</p>
<section class="go-board-moveLog-container">
    <section class="go-board">
        <div>
            <button mat-fab disabled></button>
            @for (columnLetter of columnLetters; track $index) {
            @if ($index < boardDimension) { <button mat-fab disabled>{{columnLetter}}</button>
                }
                }
        </div>
        @for (row of board; track $index; let i = $index) {
        <div>
            <button mat-fab disabled>{{boardDimension - i}}</button>
            @for (column of row; track $index; let j = $index ) {
            <button mat-fab (click)="placeStone(i,j)">{{board[i][j] ? board[i][j] : '╋'}}</button>
            }
        </div>
        }
    </section>
    <button mat-raised-button type="button" (click)="pass()">Pass</button>
    @if (gameEnded) {
        <p>Game Ended</p>
    }
    <section class="moveLog">
        @if (moveLog.length > 0) {
        <p>Log of moves:</p>
        @for (move of moveLog; track $index) {
        <div>{{$index+1}}-{{move}}</div>
        }
        }
    </section>
    <section class="score">
        <p>Black player score: {{blackPlayer.score}}</p>
        <p>White player score: {{whitePlayer.score + 6.5}} (of which 6.5 komi)</p>
    </section>
</section>