<h2>Game of Go</h2>
<p>Welcome to the game of Go! Black plays first, then white.</p>
<div>
    <button mat-fab disabled></button>
    @for (columnLetter of columnLetters; track $index) {
        @if ($index < boardDimension) {
        <button mat-fab disabled>{{columnLetter}}</button>
        }
    }
</div>
@for (row of board; track $index; let i = $index) {
    <div>
        <button mat-fab disabled>{{board.length-i}}</button>
        @for (column of row; track $index; let j = $index ) {
            <button mat-fab (click)="placeStone(i,j)">{{board[i][j] ? board[i][j] : '╋'}}</button>
        }
    </div>
}