div {
    display: flex;
    justify-content: center;
    align-items: center;
}
button[mat-fab] {
    background-color: #deb887;
    width: 60px;
    height: 60px;
    font-size: 55px;
    line-height: 1;
    box-shadow: none;
    border-radius: 0%;
    color: black; /* Change '+' symbol color to black */
}