<h2>Rock-Paper-Scissors</h2>
<p>You will play against the computer. Please choose between rock, paper or scissors clicking on one of the icons below</p>
<button mat-fab type="button" (click)="playRPS(0)">🗿</button>
<button mat-fab type="button" (click)="playRPS(1)">📄</button>
<button mat-fab type="button" (click)="playRPS(2)">✂️</button>

@if (userChoice == 0) {
    <p>You chose Rock</p>
}@else if (userChoice ==1) {
    <p>You chose Paper</p>
} @else if (userChoice == 2){
    <p>You chose Scissors</p>
}

@if (computerChoice == 0) {
    <p>Computer chose Rock</p>
}@else if (computerChoice ==1) {
    <p>Computer chose Paper</p>
} @else if (computerChoice == 2){
    <p>Computer chose Scissors</p>
}

@if (winnerPhrase) {
<p>{{winnerPhrase}}</p>
<p>Press again your choice to start another game</p>
}