<h1>Angular games</h1>
<p>Welcome to angular games! These games were developed by Luca Biasiolo (<a href="https://github.com/LucaBiasiolo">https://github.com/LucaBiasiolo</a>) as side projects for self-learning Java and Angular, with the aim to become a better full-stack developer. As such, only some games are fully playable and many have bugs or features that are not fully developed.</p>
<p>Please choose which game you want to play</p>
<mat-form-field>
    <mat-label>Game</mat-label>
    <mat-select>
	    @for(game of games; track $index){
		    <mat-option routerLink="/{{game.link}}" routerLinkActive="active">{{game.name}}</mat-option>
	    }
            </mat-select>
</mat-form-field>
